* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Header */

.content {
    width: 100%;
    height: 100vh;
    background-color: #1F2937;
}

.main-content header{
    display: flex;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.main-content h2 {
    color: #F9FaF8;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content header ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.main-content header ul a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/* First Section */

.sectionOne {
    max-width: 1200px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.leftOne {
    width: 600px;
}

.leftOne h1 {
    font-size: 48px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F9FaF8;
    font-weight: bold;
}

.leftOne p {
    font-size: 18px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
}

.leftOne a {
    display: block;
    background-color: #3882F6;
    padding: 8px 12px;
    width: 125px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #F9FaF8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.rightOne {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightOne p {
    width: 600px;
    height: 217px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Second Section */

.main-content .sectionTwo {
    background-color: #F9FaF8;
}

.main-sectionTwo {
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.main-sectionTwo h2{
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.group-infos {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.image {
    width: 200px;
    height: 200px;
    border: solid 6px;
    border-radius: 16px;
    border-color: #3882F6;
    text-align: center;
}

.info p {
    margin-top: 10px;
    width: 200px;
    flex-wrap: wrap;
}

/* Section three */

.sectionThree {
    background-color: #E5E7EB;
}

.main-sectionThree {
    max-width: 960px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
}

.main-sectionThree p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 960px;
    height: 50px;
    color: #1F2937;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* Section Four */

.sectionFour {
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    display: flex;
}

.main-sectionFour {
    display: flex;
    width: 1200px;
    height: 200px;
    flex-wrap: wrap;
    border-radius: 8px;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #3882F6;
    padding-left: 120px;
}

.main-sectionFour h2 {
    font-size: 30px;
}

.main-sectionFour p {
    color: #F9FaF8;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-sectionFour a {
    text-decoration: none;
    border: 1px solid #F9FaF8;
    width: 120px;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    color: #F9FaF8;
    font-size: 18px;
    padding: 8px 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}